* {
    font-family: "Arial";    
    background-color: #7bbcb6;
}

html, body {
    margin: 0;
}

h1 {
    font-size: 10vh;
}

h2 {
    text-align: center;
}
    
div {
    background-color: #7bbcb6;
    text-align: center;
    vertical-align: middle;
}

input {
    padding: 2px;
    border: 3px;    
}

input[type=button] {
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.text-input {
    background-color: white;
}

.link-button {
    color: black;
    border: 2px solid #387f75;    
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
}

.link-button:hover {
    background-color: #387f75;
}

.timestamp-text {
    font-size: 3vh;
    margin-left: 20vw;
}   
    /* Power button div */
    .power-button-content {
    background-color: #7bbcb6;
    height: 8vh;
    display: flex;
    align-items: center;
    margin-left: 8vw;
    }
 
/* Smartphone screens, portrait orientation */ 
@media screen and (max-aspect-ratio: 1/1) {


    /* Page header */
    .header-content {
        height: 10vh;
    }

    h1 {
        font-size: 6vh;
        vertical-align: middle;
    }

    /* Main body of page */
    .main-content {
        font-size: 12vh;
        height: 82vh;
    }

    /* Empty spacer div */
    .spacer-div {
        height: 1vh;
    }


    /* Footer */
    .footer-content {
        height: 10vh; 
    }
    
    .home-button {
        font-size: 8vh;
        color: black;
        vertical-align: middle;
        border: 2px solid #387f75;    
        border-radius: 2px;
        text-decoration: none;
        margin: 10px;
    }
}

/* Non-smartphone screens, and smartphone screens landscape orientation */ 
@media screen and (min-aspect-ratio: 1/1) {
    /* Page header */
    .header-content {
        height: 18vh;
    }

    /* Main body of page */
    .main-content {
        font-size: 5vh;
        height: 82vh;
    }

    /* Empty spacer div */
    .spacer-div {
        margin: 10px;
    }

    /* Login inputs */
    .login-input {
        font-size: 6vh;
        border-radius: 5px;
        border: solid 1px;
        border-color: gray;
        max-width: 50vw;
    }

    /* Footer */
    .footer-content {
        height: 10vh; 
    }
    
    .home-button {
        font-size: 8vh;
        color: black;
        vertical-align: middle;
        border: 2px solid #387f75;    
        border-radius: 2px;
        text-decoration: none;
        margin: 10px;
    }
}
