
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" media="screen">
</head>

<body>
<div class="header-content">
    <h1>Name Tag Maker</h1>
</div>

<div class=main-content>

    <form class="input" action="" method="POST">
        <input class="text-input" type="text" name="name-tag-name" placeholder="Enter your name">
        <div class="spacer-div"></div>
        <br>
        <input class="link-button" type="submit" value="Print">
    </form>
</div>
</body>
